# SQL 基礎

> 練習題（一）

[數聚點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd

conn = sqlite3.connect('KaggleSurvey2022.db')
conn.execute("""ATTACH 'imdb.db' AS imdb""")

## 練習題指引

- 在 SQL 語法起點與 SQL 語法終點這兩個單行註解之間撰寫能夠得到預期結果的 SQL。
- 學習資料庫已經於第一個儲存格載入，查詢可以從兩個資料庫的選擇資料。
- 執行測試的方式為點選上方選單的 Kernel -> Restart & Run All -> Restart and Run All Cells。
- 可以每寫一題就執行測試，也可以全部寫完再執行測試。
- 練習題閒置超過 10 分鐘會自動斷線，這時只要重新點選練習題連結即可重新啟動。

## 01. 從 `KaggleSurvey2022` 資料庫 `questions` 資料表分析問題種類，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(2, 2) 的查詢結果。

```
                type  number_of_questions
0    Multiple Choice                   19
1  Multiple Response                   24
```

In [2]:
summarize_question_types =\
"""
-- SQL 查詢語法起點
SELECT type,
       COUNT(*) AS number_of_questions
  FROM questions
 GROUP BY type;
-- SQL 查詢語法終點
"""

## 02. 從 `KaggleSurvey2022` 資料庫分析受訪者日常使用的程式語言 Q12: What programming languages do you use on a regular basis? (Select all that apply)，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(15, 2) 的查詢結果。

```
        choice  number_of_respondants
0       Python                  18653
1          SQL                   9620
2            R                   4571
3          C++                   4549
4         Java                   3862
5            C                   3801
6   Javascript                   3489
7       MATLAB                   2441
8         Bash                   1674
9           C#                   1473
10         PHP                   1443
11       Other                   1342
12          Go                    322
13       Julia                    296
14        None                    256
```

In [3]:
summarize_programming_languages =\
"""
-- SQL 查詢語法起點
SELECT responses.choice,
       COUNT(*) AS number_of_respondants
  FROM responses
  JOIN questions
    ON responses.question_id = questions.id
 WHERE questions.id = 11
 GROUP BY responses.choice
 ORDER BY number_of_respondants DESC;
-- SQL 查詢語法終點
"""

## 03. 從 `KaggleSurvey2022` 資料庫分析受訪者日常使用的關聯式資料庫管理系統 Q35: Do you use any of the following data products (relational databases, data warehouses, data lakes, or similar)? (Select all that apply)，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(16, 2) 的查詢結果。

```
                           choice  number_of_respondants
0                          MySQL                    2233
1                     PostgreSQL                    1516
2           Microsoft SQL Server                    1203
3                         SQLite                    1159
4                        MongoDB                    1031
5                            None                    955
6          Google Cloud BigQuery                     690
7                Oracle Database                     688
8   Microsoft Azure SQL Database                     520
9                     Amazon RDS                     505
10              Google Cloud SQL                     439
11                     Snowflake                     399
12               Amazon Redshift                     380
13               Amazon DynamoDB                     356
14                          Other                    217
15                       IBM Db2                     192
```

In [4]:
summarize_rdbms =\
"""
-- SQL 查詢語法起點
SELECT responses.choice,
       COUNT(*) AS number_of_respondants
  FROM responses
  JOIN questions
    ON responses.question_id = questions.id
 WHERE questions.id = 34
 GROUP BY responses.choice
 ORDER BY number_of_respondants DESC;
-- SQL 查詢語法終點
"""

## 04. 從 `KaggleSurvey2022` 資料庫分析受訪者職稱 Q23: Select the title most similar to your current role (or most recent title if retired)，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(15, 2) 的查詢結果。

```
                                               choice  number_of_respondants
0                                      Data Scientist                   1929
1   Data Analyst (Business, Marketing, Financial, ...                   1538
2                              Currently not employed                   1432
3                                   Software Engineer                    980
4                                 Teacher / professor                    833
5   Manager (Program, Project, Operations, Executi...                    832
6                                               Other                    754
7                                  Research Scientist                    593
8                    Machine Learning/ MLops Engineer                    571
9                             Engineer (non-software)                    465
10                                      Data Engineer                    352
11                                       Statistician                    125
12                                     Data Architect                     95
13                                 Data Administrator                     70
14                                 Developer Advocate                     61
```

In [5]:
summarize_respondant_titles =\
"""
-- SQL 查詢語法起點
SELECT responses.choice,
       COUNT(*) AS number_of_respondants
  FROM responses
  JOIN questions
    ON responses.question_id = questions.id
 WHERE questions.id = 22
 GROUP BY responses.choice
 ORDER BY number_of_respondants DESC;
-- SQL 查詢語法終點
"""

## 05. 接續上題，從 `KaggleSurvey2022` 資料庫分析受訪者職稱 Q23: Select the title most similar to your current role (or most recent title if retired)，改以百分比顯示，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(15, 2) 的查詢結果。

```
                                               choice percentage
0                                      Data Scientist     18.15%
1   Data Analyst (Business, Marketing, Financial, ...     14.47%
2                              Currently not employed     13.47%
3                                   Software Engineer      9.22%
4                                 Teacher / professor      7.84%
5   Manager (Program, Project, Operations, Executi...      7.83%
6                                               Other      7.09%
7                                  Research Scientist      5.58%
8                    Machine Learning/ MLops Engineer      5.37%
9                             Engineer (non-software)      4.37%
10                                      Data Engineer      3.31%
11                                       Statistician      1.18%
12                                     Data Architect      0.89%
13                                 Data Administrator      0.66%
14                                 Developer Advocate      0.57%
```

In [6]:
summarize_respondant_titles_in_percentage =\
"""
-- SQL 查詢語法起點
SELECT subquery_table.choice,
       subquery_table.percentage || '%' AS percentage
  FROM (
           SELECT responses.choice,
                  ROUND( (COUNT( * ) * 1.0 / (
                                                 SELECT COUNT( * ) 
                                                   FROM responses
                                                  WHERE responses.question_id = 22
                                             )
                         ) * 100, 2) AS percentage
             FROM responses
                  JOIN
                  questions ON responses.question_id = questions.id
            WHERE questions.id = 22
            GROUP BY responses.choice
            ORDER BY percentage DESC
       )
       AS subquery_table;
-- SQL 查詢語法終點
"""

## 06. 從 `imdb` 資料庫查詢「魔戒三部曲」與「蝙蝠俠三部曲」的電影資訊與演員名單，三部曲電影系列中演員重複出演的情況是正常的，這時顯示獨一值即可，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(66, 2) 的查詢結果。

```
                          trilogy                  name
0                  Batman Trilogy         Aaron Eckhart
1                  Batman Trilogy          Aidan Gillen
2                  Batman Trilogy        Alon Aboutboul
3                  Batman Trilogy         Anne Hathaway
4                  Batman Trilogy  Anthony Michael Hall
..                            ...                   ...
61  The Lord of the Rings Trilogy         Sadwyn Brophy
62  The Lord of the Rings Trilogy            Sala Baker
63  The Lord of the Rings Trilogy            Sam Comery
64  The Lord of the Rings Trilogy            Sean Astin
65  The Lord of the Rings Trilogy             Sean Bean

[66 rows x 2 columns]
```

In [7]:
find_two_trilogy_casting_list =\
"""
-- SQL 查詢語法起點
SELECT CASE WHEN movies.title LIKE '%Lord of the Rings%' THEN 'The Lord of the Rings Trilogy'
            ELSE 'Batman Trilogy' END AS trilogy,
       actors.name
  FROM actors
  JOIN casting
    ON actors.id = casting.actor_id
  JOIN movies
    ON casting.movie_id = movies.id
 WHERE movies.title LIKE '%Lord of the Rings%' OR
       movies.title LIKE '%Batman%' OR
       movies.title LIKE '%The Dark Knight%'
 GROUP BY trilogy, actors.name;
-- SQL 查詢語法終點
"""

## 07. 從 `imdb` 資料庫查詢出現最多次的演員為誰，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(3, 2) 的查詢結果。

```
   actor_id            name  counts
0      2472  Robert De Niro       9
```

In [8]:
find_most_frequent_actors_from_imdb =\
"""
-- SQL 查詢語法起點
SELECT actor_id,
       actors.name,
       counts
  FROM (SELECT actor_id,
               COUNT(*) AS counts
          FROM casting
         GROUP BY actor_id) AS actor_counts
  JOIN actors
    ON actor_counts.actor_id = actors.id
 WHERE actor_counts.counts = (SELECT MAX(counts) AS max_counts
                                FROM (SELECT actor_id,
                                             COUNT(*) AS counts
                                        FROM casting
                                       GROUP BY actor_id) AS actor_counts);
-- SQL 查詢語法終點
"""

## 執行測試！

Kernel -> Restart & Run All -> Restart and Run All Cells.

In [9]:
class TestExercises02(unittest.TestCase):
    def test_01_summarize_question_types(self):
        question_types = pd.read_sql(summarize_question_types, conn)
        self.assertEqual(question_types.shape, (2, 2))
        column_values = set(question_types.iloc[:, 0].values)
        self.assertTrue('Multiple Choice' in column_values)
        self.assertTrue('Multiple Response' in column_values)
    def test_02_summarize_programming_languages(self):
        programming_languages = pd.read_sql(summarize_programming_languages, conn)
        self.assertEqual(programming_languages.shape, (15, 2))
        column_values = programming_languages.iloc[:, 0].values
        self.assertEqual(column_values[0], "Python")
        self.assertEqual(column_values[1], "SQL")
    def test_03_summarize_rdbms(self):
        rdbms = pd.read_sql(summarize_rdbms, conn)
        self.assertEqual(rdbms.shape, (16, 2))
        column_values = rdbms.iloc[:, 0].values
        self.assertTrue("MySQL" in column_values[0])
        self.assertTrue("PostgreSQL" in column_values[1])
        self.assertTrue("Microsoft SQL Server" in column_values[2])
        self.assertTrue("SQLite" in column_values[3])
    def test_04_summarize_respondant_titles(self):
        respondant_titles = pd.read_sql(summarize_respondant_titles, conn)
        self.assertEqual(respondant_titles.shape, (15, 2))
        column_values = respondant_titles.iloc[:, 0].values
        self.assertEqual(column_values[0], "Data Scientist")
        self.assertTrue("Data Analyst" in column_values[1])
    def test_05_summarize_respondant_titles_in_percentage(self):
        respondant_titles_in_percentage = pd.read_sql(summarize_respondant_titles_in_percentage, conn)
        self.assertEqual(respondant_titles_in_percentage.shape, (15, 2))
        column_values = respondant_titles_in_percentage.iloc[:, 0].values
        self.assertEqual(column_values[0], "Data Scientist")
        self.assertTrue("Data Analyst" in column_values[1])
        column_values = respondant_titles_in_percentage.iloc[:, 1].values
        self.assertTrue("%" in column_values[0])
        self.assertTrue("%" in column_values[1])
    def test_06_find_two_trilogy_casting_list(self):
        two_trilogy_casting_list = pd.read_sql(find_two_trilogy_casting_list, conn)
        self.assertEqual(two_trilogy_casting_list.shape, (66, 2))
        column_values = set(two_trilogy_casting_list.iloc[:, 1].values)
        self.assertTrue('Christian Bale' in column_values)
        self.assertTrue('Heath Ledger' in column_values)
        self.assertTrue('Anne Hathaway' in column_values)
        self.assertTrue('Sean Astin' in column_values)
        self.assertTrue('Cate Blanchett' in column_values)
        self.assertTrue('Orlando Bloom' in column_values)
    def test_07_find_most_frequent_actors_from_imdb(self):
        most_frequent_actors_from_imdb = pd.read_sql(find_most_frequent_actors_from_imdb, conn)
        self.assertEqual(most_frequent_actors_from_imdb.shape, (1, 3))
        column_values = set(most_frequent_actors_from_imdb.iloc[:, 1].values)
        self.assertTrue('Robert De Niro' in column_values)
        column_values = set(most_frequent_actors_from_imdb.iloc[:, 2].values)
        self.assertTrue(9 in column_values)

suite = unittest.TestLoader().loadTestsFromTestCase(TestExercises02)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_01_select_all_from_questions (__main__.TestExercises02) ... ok
test_02_summarize_programming_languages (__main__.TestExercises02) ... ok
test_03_summarize_rdbms (__main__.TestExercises02) ... ok
test_04_summarize_rdbms (__main__.TestExercises02) ... ok
test_05_summarize_respondant_titles_in_percentage (__main__.TestExercises02) ... ok
test_06_find_two_trilogy_casting_list (__main__.TestExercises02) ... ok
test_07_find_most_frequent_actors_from_imdb (__main__.TestExercises02) ... ok

----------------------------------------------------------------------
Ran 7 tests in 0.453s

OK

In [10]:
print("您在 {} 道 SQL 練習答對了 {} 題。".format(number_of_test_runs, number_of_successes))

您在 7 道 SQL 練習答對了 7 題。