# SQL 基礎

> 練習題（一）

[數聚點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('KaggleSurvey2022.db')

## 練習題指引

- 在 SQL 語法起點與 SQL 語法終點這兩個單行註解之間撰寫能夠得到預期結果的 SQL。
- 執行測試的方式為點選上方選單的 Kernel -> Restart & Run All -> Restart and Run All Cells。
- 可以每寫一題就執行測試，也可以全部寫完再執行測試。
- 練習題閒置超過 10 分鐘會自動斷線，這時只要重新點選練習題連結即可重新啟動。

## 01. 從 `KaggleSurvey2022` 資料庫的 `questions` 資料表將所有欄位選擇出來，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 4) 的查詢結果。

```
   id question_index               type  \
0   1             Q2    Multiple Choice   
1   2             Q3    Multiple Choice   
2   3             Q4    Multiple Choice   
3   4             Q5    Multiple Choice   
4   5             Q6  Multiple Response   
5   6             Q7  Multiple Response   
6   7             Q8    Multiple Choice   
7   8             Q9    Multiple Choice   
8   9            Q10    Multiple Choice   
9  10            Q11    Multiple Choice   

                                         description  
0                        What is your age (# years)?  
1                               What is your gender?  
2          In which country do you currently reside?  
3  Are you currently a student? (high school, uni...  
4  On which platforms have you begun or completed...  
5  What products or platforms did you find to be ...  
6  What is the highest level of formal education ...  
7  Have you ever published any academic research ...  
8    Did your research make use of machine learning?  
9  For how many years have you been writing code ...
```

In [2]:
select_all_from_questions =\
"""
-- SQL 查詢語法起點
SELECT *
  FROM questions
 LIMIT 10;
-- SQL 查詢語法終點
"""

## 02. 從 `KaggleSurvey2022` 資料庫的 `responses` 資料表將所有欄位選擇出來，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(15, 3) 的查詢結果。

```
    respondant_id  question_id choice
0               1            1  30-34
1               2            1  30-34
2               3            1  18-21
3               4            1  55-59
4               5            1  45-49
5               6            1  18-21
6               7            1  18-21
7               8            1  30-34
8               9            1    70+
9              10            1  22-24
10             11            1  55-59
11             12            1  55-59
12             13            1  35-39
13             14            1  40-44
14             15            1  35-39
```

In [3]:
select_all_from_responses =\
"""
-- SQL 查詢語法起點
SELECT *
  FROM responses
 LIMIT 15;
-- SQL 查詢語法終點
"""

## 03. 從 `KaggleSurvey2022` 資料庫的 `questions` 資料表將單選題（Multiple Choice）篩選出來，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(19, 2) 的查詢結果。

```
   question_index                                        description
0              Q2                        What is your age (# years)?
1              Q3                               What is your gender?
2              Q4          In which country do you currently reside?
3              Q5  Are you currently a student? (high school, uni...
4              Q8  What is the highest level of formal education ...
5              Q9  Have you ever published any academic research ...
6             Q10    Did your research make use of machine learning?
7             Q11  For how many years have you been writing code ...
8             Q16  For how many years have you used machine learn...
9             Q22  Which of the following ML model hubs/repositor...
10            Q23  Select the title most similar to your current ...
11            Q24  In what industry is your current employer/cont...
12            Q25  What is the size of the company where you are ...
13            Q26  Approximately how many individuals are respons...
14            Q27  Does your current employer incorporate machine...
15            Q29  What is your current yearly compensation (appr...
16            Q30  Approximately how much money have you spent on...
17            Q32  Of the cloud platforms that you are familiar w...
18            Q43  Approximately how many times have you used a T...
```

In [4]:
filter_multiple_choice_from_questions =\
"""
-- SQL 查詢語法起點
SELECT question_index,
       description
  FROM questions
 WHERE type = 'Multiple Choice';
-- SQL 查詢語法終點
"""

## 04. 從 `KaggleSurvey2022` 資料庫的 `questions` 資料表將多選題（Multiple Response）篩選出來，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(24, 2) 的查詢結果。

```
   question_index                                        description
0              Q6  On which platforms have you begun or completed...
1              Q7  What products or platforms did you find to be ...
2             Q12  What programming languages do you use on a reg...
3             Q13  Which of the following integrated development ...
4             Q14  Do you use any of the following hosted noteboo...
5             Q15  Do you use any of the following data visualiza...
6             Q17  Which of the following machine learning framew...
7             Q18  Which of the following ML algorithms do you us...
8             Q19  Which categories of computer vision methods do...
9             Q20  Which of the following natural language proces...
10            Q21  Do you download pre-trained model weights from...
11            Q28  Select any activities that make up an importan...
12            Q31  Which of the following cloud computing platfor...
13            Q33  Do you use any of the following cloud computin...
14            Q34  Do you use any of the following data storage p...
15            Q35  Do you use any of the following data products ...
16            Q36  Do you use any of the following business intel...
17            Q37  Do you use any of the following managed machin...
18            Q38  Do you use any of the following automated mach...
19            Q39  Do you use any of the following products to se...
20            Q40  Do you use any tools to help monitor your mach...
21            Q41  Do you use any of the following responsible or...
22            Q42  Do you use any of the following types of speci...
23            Q44  Who/what are your favorite media sources that ...
```

In [5]:
filter_multiple_response_from_questions =\
"""
-- SQL 查詢語法起點
SELECT question_index,
       description
  FROM questions
 WHERE type = 'Multiple Response';
-- SQL 查詢語法終點
"""

## 05. 從 `KaggleSurvey2022` 資料庫的 `responses` 資料表將填答者 4（`respondant_id = 4`）的填答結果篩選出來，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(62, 3) 的查詢結果。

```
    respondant_id  question_id  \
0               4            1   
1               4            2   
2               4            3   
3               4            4   
4               4            5   
..            ...          ...   
57              4           42   
58              4           43   
59              4           43   
60              4           43   
61              4           43   

                                               choice  
0                                               55-59  
1                                                 Man  
2                                              France  
3                                                  No  
4                                            Coursera  
..                                                ...  
57                                          2-5 times  
58                 Twitter (data science influencers)  
59                    Kaggle (notebooks, forums, etc)  
60  Course Forums (forums.fast.ai, Coursera forums...  
61  Blogs (Towards Data Science, Analytics Vidhya,...  

[62 rows x 3 columns]
```

In [6]:
filter_respondant_from_responses =\
"""
-- SQL 查詢語法起點
SELECT *
  FROM responses
 WHERE respondant_id = 4;
-- SQL 查詢語法終點
"""

## 06. 從 `KaggleSurvey2022` 資料庫的 `responses` 資料表將獨一的填答者編號選擇出來，暸解有多少人填寫問卷，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(23997, 1) 的查詢結果。

```
       respondant_id
0                  1
1                  2
2                  3
3                  4
4                  5
...              ...
23992          23993
23993          23994
23994          23995
23995          23996
23996          23997

[23997 rows x 1 columns]
```

In [7]:
select_distinct_respondant_from_responses =\
"""
-- SQL 查詢語法起點
SELECT DISTINCT respondant_id
  FROM responses;
-- SQL 查詢語法終點
"""

## 07. 從 `KaggleSurvey2022` 資料庫的 `responses` 資料表將 `Q6: On which platforms have you begun or completed data science courses?` 的獨一選項顯示出來，暸解有多少選項，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(12, 2) 的查詢結果。

```
                                               choice  question_id
0                                            Coursera            5
1                                                 edX            5
2                                Kaggle Learn Courses            5
3                                            DataCamp            5
4                                             Fast.ai            5
5                                             Udacity            5
6                                               Udemy            5
7                                   LinkedIn Learning            5
8   Cloud-certification programs (direct from AWS,...            5
9   University Courses (resulting in a university ...            5
10                                               None            5
11                                              Other            5
```

In [8]:
select_distinct_q6_choice_from_responses =\
"""
-- SQL 查詢語法起點
SELECT DISTINCT choice,
       question_id
  FROM responses
 WHERE question_id = 5;
-- SQL 查詢語法終點
"""

## 08. 從 `KaggleSurvey2022` 資料庫的 `responses` 資料表將 `Q12: What programming language do you use on a regular basis?` 的獨一選項顯示出來，暸解有多少選項，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(15, 2) 的查詢結果。

```
        choice  question_id
0       Python           11
1            R           11
2          SQL           11
3            C           11
4           C#           11
5          C++           11
6         Java           11
7   Javascript           11
8         Bash           11
9          PHP           11
10      MATLAB           11
11       Julia           11
12          Go           11
13        None           11
14       Other           11
```

In [9]:
select_distinct_q12_choice_from_responses =\
"""
-- SQL 查詢語法起點
SELECT DISTINCT choice,
       question_id
  FROM responses
 WHERE question_id = 11;
-- SQL 查詢語法終點
"""

## 09. 從 `KaggleSurvey2022` 資料庫查詢資料表清單 metadata，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(2, 1) 的查詢結果。

```
  table_names
0   questions
1   responses
```

In [10]:
query_metadata_of_table_list =\
"""
-- SQL 查詢語法起點
SELECT name AS table_names
  FROM sqlite_master
 WHERE type ='table' AND 
       name NOT LIKE 'sqlite_%';
-- SQL 查詢語法終點
"""

## 10. 從 `KaggleSurvey2022` 資料庫查詢 `questions` 資料表的 metadata，參考下列的預期查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(4, 6) 的查詢結果。

```
   cid            name     type  notnull dflt_value  pk
0    0              id  INTEGER        0       None   1
1    1  question_index  INTEGER        0       None   0
2    2            type     TEXT        0       None   0
3    3     description     TEXT        0       None   0
```

In [11]:
query_metadata_of_questions_table =\
"""
-- SQL 查詢語法起點
SELECT * 
  FROM PRAGMA_TABLE_INFO('questions');
-- SQL 查詢語法終點
"""

## 執行測試！

Kernel -> Restart & Run All -> Restart and Run All Cells.

In [12]:
class TestExercises01(unittest.TestCase):
    def test_01_select_all_from_questions(self):
        all_from_questions = pd.read_sql(select_all_from_questions, conn)
        self.assertEqual(all_from_questions.shape, (10, 4))
    def test_02_select_all_from_responses(self):
        all_from_responses = pd.read_sql(select_all_from_responses, conn)
        self.assertEqual(all_from_responses.shape, (15, 3))
        question_id_nunique = all_from_responses["question_id"].nunique()
        self.assertEqual(question_id_nunique, 1)
    def test_03_filter_multiple_choice_from_questions(self):
        multiple_choice_from_questions = pd.read_sql(filter_multiple_choice_from_questions, conn)
        self.assertEqual(multiple_choice_from_questions.shape, (19, 2))
        question_index_nunique = multiple_choice_from_questions["question_index"].nunique()
        description_nunique = multiple_choice_from_questions["description"].nunique()
        self.assertEqual(question_index_nunique, 19)
        self.assertEqual(description_nunique, 19)
    def test_04_filter_multiple_response_from_questions(self):
        multiple_response_from_questions = pd.read_sql(filter_multiple_response_from_questions, conn)
        self.assertEqual(multiple_response_from_questions.shape, (24, 2))
        question_index_nunique = multiple_response_from_questions["question_index"].nunique()
        description_nunique = multiple_response_from_questions["description"].nunique()
        self.assertEqual(question_index_nunique, 24)
        self.assertEqual(description_nunique, 24)
    def test_05_filter_respondant_from_responses(self):
        respondant_from_responses = pd.read_sql(filter_respondant_from_responses, conn)
        self.assertEqual(respondant_from_responses.shape, (62, 3))
        respondant_id_unique = respondant_from_responses["respondant_id"].unique()[0]
        self.assertEqual(respondant_id_unique, 4)
    def test_06_select_distinct_respondant_from_responses(self):
        distinct_respondant_from_responses = pd.read_sql(select_distinct_respondant_from_responses, conn)
        self.assertEqual(distinct_respondant_from_responses.shape, (23997, 1))
        respondant_id_nunique = distinct_respondant_from_responses["respondant_id"].nunique()
        self.assertEqual(respondant_id_nunique, 23997)
    def test_07_select_distinct_q6_choice_from_responses(self):
        distinct_q6_choice_from_responses = pd.read_sql(select_distinct_q6_choice_from_responses, conn)
        self.assertEqual(distinct_q6_choice_from_responses.shape, (12, 2))
        choice_nunique = distinct_q6_choice_from_responses["choice"].nunique()
        self.assertEqual(choice_nunique, 12)
    def test_08_select_distinct_q12_choice_from_responses(self):
        distinct_q12_choice_from_responses = pd.read_sql(select_distinct_q12_choice_from_responses, conn)
        self.assertEqual(distinct_q12_choice_from_responses.shape, (15, 2))
        choice_nunique = distinct_q12_choice_from_responses["choice"].nunique()
        self.assertEqual(choice_nunique, 15)
    def test_09_query_metadata_of_table_list(self):
        metadata_of_table_list = pd.read_sql(query_metadata_of_table_list, conn)
        self.assertEqual(metadata_of_table_list.shape, (2, 1))
    def test_10_query_metadata_of_questions_table(self):
        metadata_of_questions_table = pd.read_sql(query_metadata_of_questions_table, conn)
        self.assertEqual(metadata_of_questions_table.shape, (4, 6))

suite = unittest.TestLoader().loadTestsFromTestCase(TestExercises01)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_01_select_all_from_questions (__main__.TestExercises01) ... ok
test_02_select_all_from_responses (__main__.TestExercises01) ... ok
test_03_filter_multiple_choice_from_questions (__main__.TestExercises01) ... ok
test_04_filter_multiple_response_from_questions (__main__.TestExercises01) ... ok
test_05_filter_respondant_from_responses (__main__.TestExercises01) ... ok
test_06_select_distinct_respondant_from_responses (__main__.TestExercises01) ... ok
test_07_select_distinct_q6_choice_from_responses (__main__.TestExercises01) ... ok
test_08_select_distinct_q12_choice_from_responses (__main__.TestExercises01) ... ok
test_09_query_metadata_of_table_list (__main__.TestExercises01) ... ok
test_10_query_metadata_of_questions_table (__main__.TestExercises01) ... ok

----------------------------------------------------------------------
Ran 10 tests in 0.514s

OK

In [13]:
print("您在 {} 道 SQL 練習答對了 {} 題。".format(number_of_test_runs, number_of_successes))

您在 10 道 SQL 練習答對了 10 題。